---
# tasks file for underlay

- name: Generate L3 Interface(s) Payload
  ansible.builtin.set_fact:
    nxos_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_interfaces.j2') }}"

- name: Configure L3 Interface(s)
  cisco.nxos.nxos_interfaces:
    config: "{{ nxos_interfaces | ansible.builtin.from_yaml }}"
    state: overridden

- name: Generate L3 Interface(s) IPv4 Payload
  ansible.builtin.set_fact:
    nxos_l3_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_l3_interfaces.j2') }}"

- name: Configure IP Address on L3 Interfaces
  cisco.nxos.nxos_l3_interfaces:
    config: "{{ nxos_l3_interfaces | ansible.builtin.from_yaml }}"
    state: replaced

- name: Generate Loopback Interface(s) IPv4 Payload
  ansible.builtin.set_fact:
    nxos_loopback_interfaces_ipv4: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_loopback_interfaces_ipv4.j2') }}"

- name: Configure IP Address on Loopback Interfaces
  cisco.nxos.nxos_l3_interfaces:
    config: "{{ nxos_loopback_interfaces_ipv4 | ansible.builtin.from_yaml }}"
    state: merged

- name: Get Interface(s)
  cisco.nxos.nxos_interfaces:
    state: gathered
  register: current_nxos_interfaces

- name: Generate L3 Interface(s) to Remove Payload
  ansible.builtin.set_fact:
    nxos_interfaces_to_remove: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_interfaces_to_remove.j2') }}"

- name: Remove L3 Interface(s)
  cisco.nxos.nxos_interfaces:
    config: "{{ nxos_interfaces_to_remove | ansible.builtin.from_yaml }}"
    state: purged
  when: nxos_interfaces_to_remove | ansible.builtin.from_yaml | length > 0

- name: Generate OSPF Underlay Process Payload
  ansible.builtin.set_fact:
    nxos_ospf: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_ospf.j2') }}"

- name: Configure OSPF Underlay Process
  cisco.nxos.nxos_ospfv2:
    config: "{{ nxos_ospf | ansible.builtin.from_yaml }}"
    state: overridden

- name: Generate OSPF Interface(s) Payload
  ansible.builtin.set_fact:
    nxos_ospf_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_ospf_interfaces.j2') }}"

- name: Configure OSPF Interface(s)
  cisco.nxos.nxos_ospf_interfaces:
    config: "{{ nxos_ospf_interfaces | ansible.builtin.from_yaml }}"
    state: overridden

- name: Configure PIM Anycast RP on Spines
  cisco.nxos.nxos_config:
    lines: |
      {% for rtr_rp_addr in hostvars[groups['spines'] | first].pim.anycast_rp_router_addresses %}
      ip pim anycast-rp {{ hostvars[groups['spines'] | first].pim.anycast_rp_address }} {{ rtr_rp_addr }}
      {% endfor %}
  when: inventory_hostname in groups['spines']

- name: Configure PIM RP Address
  cisco.nxos.nxos_pim_rp_address:
    rp_address: "{{ hostvars[groups['spines'] | first].pim.anycast_rp_address }}"
    state: present

- name: Configure PIM Interface(s)
  cisco.nxos.nxos_pim_interface:
    interface: "{{ item.name }}"
    sparse: true
    state: present
  when: item.pim is defined and item.pim
  loop: "{{ all_layer3_interfaces }}"

- name: Get PIM Interfaces
  ansible.utils.cli_parse:
    command: show ip pim interface brief | json
    parser:
      name: ansible.utils.json
    set_fact: parsed_output

- name: Parse PIM Interfaces
  ansible.builtin.set_fact:
    parsed_pim_interfaces: "{{ parsed_output.TABLE_vrf.ROW_vrf.TABLE_brief.ROW_brief | map(attribute='if-name') | list | unique | default([]) }}"

- name: Determine PIM Interfaces to Unconfigure
  ansible.builtin.set_fact:
    pim_interfaces_to_unconfigure: "{{ parsed_pim_interfaces | difference(all_layer3_interfaces | selectattr('pim', 'defined') | selectattr('pim', 'equalto', true) | map(attribute='name') | list) }}"

- name: Remove PIM Interface(s)
  cisco.nxos.nxos_pim_interface:
    interface: "{{ item }}"
    state: absent
  when: pim_interfaces_to_unconfigure | length > 0
  loop: "{{ pim_interfaces_to_unconfigure }}"

- name: Generate BGP Process and Neighbor Payload
  ansible.builtin.set_fact:
    nxos_bgp: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_bgp.j2') }}"

- name: Configure BGP Process and Neighbors
  cisco.nxos.nxos_bgp_global:
    config: "{{ nxos_bgp | ansible.builtin.from_yaml }}"
    state: overridden

- name: Generate BGP Neighbor Address-Family(ies) Payload
  ansible.builtin.set_fact:
    nxos_bgp_af: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_bgp_af.j2') }}"

- name: Configure BGP Neighbor Address-Families
  cisco.nxos.nxos_bgp_neighbor_address_family:
    config: "{{ nxos_bgp_af | ansible.builtin.from_yaml }}"
    state: overridden
