#jinja2:lstrip_blocks: True
{% for layer3_interfaces in all_layer3_interfaces %}
{% for layer3_interface in layer3_interfaces %}
- name: "{{ layer3_interface.interface }}"
  address_family:
    - afi: ipv4
      network: point-to-point
      processes:
        - process_id: {{ ospf_process_id }}
          area:
            area_id: {{ ospf_area_id }}
{% endfor %}
{% endfor %}
