#jinja2:lstrip_blocks: True
as_number: {{ bgp_asn }}
neighbors:
{% for bgp_neighbor in bgp_neighbors %}
  - neighbor_address: {{ bgp_neighbor.neighbor }}
    address_family:
      - afi: l2vpn
        safi: evpn
        {% if inventory_hostname in groups['spines'] %}
        route_reflector_client: yes
        {% endif %}
        send_community:
          both: yes
{% endfor %}
