---
# vars file for leaf1

hostname: leaf1

layer3_physical_interfaces: &l3
  - name: mgmt0
    ip_address: 10.15.33.13
    mask: 24
    enabled: true
  - name: nve1
    enabled: true
  - name: Ethernet1/1
    description: To S1 Eth1/1
    mode: layer3
    ip_address: 10.1.1.1
    mask: 31
    mtu: 9216
    enabled: true
    ospf:
      process: UNDERLAY
      area: 0.0.0.0
    pim: true
  - name: Ethernet1/2
    description: To S2 Eth1/1
    mode: layer3
    ip_address: 10.2.2.1
    mask: 31
    mtu: 9216
    enabled: true
    ospf:
      process: UNDERLAY
      area: 0.0.0.0
    pim: true

loopback_interfaces: &lo
  - name: loopback0
    description: Routing Loopback
    ip_address: 10.0.0.101
    mask: 32
    enabled: true
    ospf:
      process: UNDERLAY
      area: 0.0.0.0
    pim: true
  - name: loopback1
    description: VTEP Loopback
    ip_address: 10.100.100.101
    mask: 32
    enabled: true
    ospf:
      process: UNDERLAY
      area: 0.0.0.0
    pim: true

all_layer3_interfaces: "{{ layer3_physical_interfaces + loopback_interfaces }}"

layer2_physical_interfaces: &l2
  - name: Ethernet1/4
    description: To Server1 Eth1
    mode: access
    vlan: 101
    enabled: true
