#jinja2:lstrip_blocks: True
{% for layer3_interfaces in all_layer3_interfaces %}
{% for layer3_interface in layer3_interfaces %}
{% if ( ('oopback' in layer3_interface['interface'] | lower) or
        ('mgmt' in layer3_interface['interface'] | lower) ) %}
- name: {{ layer3_interface['interface'] | lower }}
{% elif 'thernet' in layer3_interface['interface'] | lower %}
- name: {{ layer3_interface['interface'] | title }}
{% endif %}
  description: {{ layer3_interface['description'] | default(omit)}}
  {% if 'thernet' in layer3_interface['interface'] %}
  mode: layer3
  mtu: {{ layer3_interface['mtu'] }}
  {% endif %}
  enabled: true
{% endfor %}
{% endfor %}
