#SPDX-License-Identifier: MIT-0
---
# tasks file for overlay

- name: Configure Anycast Gateway MAC Address
  cisco.nxos.nxos_overlay_global:
    anycast_gateway_mac: "{{ anycast_gw_mac }}"
  when: inventory_hostname in groups['leafs']

- name: Generate VLAN(s) Payload
  ansible.builtin.set_fact:
    nxos_vlans: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_vlans.j2') }}"
  when: inventory_hostname in groups['leafs']

- name: Configure VLAN-to-VNI Mappings
  cisco.nxos.nxos_vlans:
    config: "{{ (nxos_vlans | ansible.builtin.from_yaml) }}"
    state: overridden
  when: inventory_hostname in groups['leafs']

- name: Generate L3VNI VRF(s) Payload
  ansible.builtin.set_fact:
    nxos_vrfs: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_vrfs.j2') }}"
  when: inventory_hostname in groups['leafs']

- name: Configure L3VNI VRF(s)
  cisco.nxos.vrf_global:
    config: "{{ nxos_vrfs | ansible.builtin.from_yaml }}"
    state: overridden
  when: inventory_hostname in groups['leafs']

- name: Generate Anycast Gateways VRF Payload
  ansible.builtin.set_fact:
    nxos_vrf_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_vrf_interfaces.j2') }}"
  when: inventory_hostname in groups['leafs']

- name: Configure Anycast Gateways VRF Association
  cisco.nxos.nxos_vrf_interfaces:
    config: "{{ nxos_vrf_interfaces | ansible.builtin.from_yaml }}"
    state: overridden
  when: inventory_hostname in groups['leafs']

- name: Generate L3 Interface(s) Payload
  ansible.builtin.set_fact:
    nxos_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_interfaces.j2') }}"

- name: Configure L3 Interface(s)
  cisco.nxos.nxos_interfaces:
    config: "{{ nxos_interfaces | ansible.builtin.from_yaml }}"
    state: overridden

- name: Generate L3 Interface(s) IPv4 Payload
  ansible.builtin.set_fact:
    nxos_l3_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_l3_interfaces.j2') }}"

- name: Configure IP Address on L3 Interfaces
  cisco.nxos.nxos_l3_interfaces:
    config: "{{ nxos_l3_interfaces | ansible.builtin.from_yaml }}"
    state: replaced

- name: Generate Loopback Interface(s) IPv4 Payload
  ansible.builtin.set_fact:
    nxos_loopback_interfaces_ipv4: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_loopback_interfaces_ipv4.j2') }}"

- name: Configure IP Address on Loopback Interfaces
  cisco.nxos.nxos_l3_interfaces:
    config: "{{ nxos_loopback_interfaces_ipv4 | ansible.builtin.from_yaml }}"
    state: merged

- name: Generate L2 Interface(s) Payload
  ansible.builtin.set_fact:
    nxos_l2_interfaces: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_l2_interfaces.j2') }}"

- name: Configure L2 Interfaces
  cisco.nxos.nxos_l2_interfaces:
    config: "{{ nxos_l2_interfaces | ansible.builtin.from_yaml }}"
    state: replaced

- name: Configure VXLAN VTEP NVE Interface
  cisco.nxos.nxos_vxlan_vtep:
    interface: nve1
    host_reachability: true
    source_interface: Loopback1
    shutdown: false
    state: present
  when: inventory_hostname in groups['leafs']

- name: Get Interface(s)
  cisco.nxos.nxos_interfaces:
    state: gathered
  register: current_nxos_interfaces

- name: Generate L3 Interface(s) to Remove Payload
  ansible.builtin.set_fact:
    nxos_interfaces_to_remove: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_interfaces_to_remove.j2') }}"

- name: Remove L3 Interface(s)
  cisco.nxos.nxos_interfaces:
    config: "{{ nxos_interfaces_to_remove | ansible.builtin.from_yaml }}"
    state: purged
  when: nxos_interfaces_to_remove | ansible.builtin.from_yaml | length > 0

- name: Configure VXLAN VTEP NVE Interface L3VNI & L2VNI Mapping(s)
  cisco.nxos.nxos_vxlan_vtep_vni:
    interface: nve1
    vni: "{{ item.vni_id }}"
    assoc_vrf: "{{ true if 'vrf' not in item else omit }}"
    multicast_group: "{{ item.mcast_grp if 'mcast_grp' in item else omit }}"
    state: present
  when: >
    (item.name is defined and item.name != 'management') or
    (item.vlan_id is defined and item.vlan_id != 1)
  loop: "{{ vrfs + networks }}"

- name: Get NVE VNIs
  ansible.utils.cli_parse:
    command: show nve vni | json
    parser:
      name: ansible.utils.json
    set_fact: parsed_output

- name: Normalize VNI Data From Switch
  ansible.builtin.set_fact:
    switch_vni_list: "{{ [parsed_output.TABLE_nve_vni.ROW_nve_vni] if parsed_output.TABLE_nve_vni.ROW_nve_vni is mapping else parsed_output.TABLE_nve_vni.ROW_nve_vni }}"

- name: Parsed Defined VRFs and Networks VNIs From Switch
  ansible.builtin.set_fact:
    switch_vnis: "{{ switch_vni_list | map(attribute='vni') | map('int') | list }}"

- name: Parsed Defined VRFs and Networks VNIs From Data
  ansible.builtin.set_fact:
    defined_vnis: "{{ (vrfs + networks) | selectattr('vni_id', 'defined') | map(attribute='vni_id') | list | unique | default([]) }}"

- name: Determine VNIs to Unconfigure
  ansible.builtin.set_fact:
    vnis_to_unconfigure: "{{ switch_vnis | difference(defined_vnis) | list }}"

- name: Remove NVE Interface L3VNI & L2VNI Mapping(s)
  cisco.nxos.nxos_vxlan_vtep_vni:
    interface: nve1
    vni: "{{ item }}"
    state: absent
  when: vnis_to_unconfigure | length > 0
  loop: "{{ vnis_to_unconfigure }}"

- name: Configure L2VNI Under EVPN
  cisco.nxos.nxos_evpn_vni:
    vni: "{{ item.vni_id }}"
    route_distinguisher: auto
    route_target_both: auto
    state: present
  when: item.vlan_id != 1
  loop: "{{ networks }}"

- name: Remove L2VNI Under EVPN
  cisco.nxos.nxos_evpn_vni:
    vni: "{{ item }}"
    state: absent
  when: vnis_to_unconfigure | length > 0
  loop: "{{ vnis_to_unconfigure }}"

- name: Generate BGP VRF Address-Family(ies) Payload
  ansible.builtin.set_fact:
    nxos_bgp_vrf_af: "{{ lookup('ansible.builtin.template', playbook_dir ~ '/templates/config/nxos_bgp_vrf_af.j2') }}"
  when: inventory_hostname in groups['leafs']

- name: Configure BGP VRF Address-Family(ies)
  cisco.nxos.nxos_bgp_address_family:
    config: "{{ nxos_bgp_vrf_af | ansible.builtin.from_yaml }}"
    state: overridden
  when: inventory_hostname in groups['leafs']
