{% for vrf in vrfs %}
- name: vlan{{ vrf.vlan_id }}
  ip_forward: true
  enabled: true
{% endfor %}
{% for network in networks %}
- name: vlan{{ network.vlan_id }}
  fabric_forwarding_anycast_gateway: true
  enabled: true
{% endfor %}
